/* GENERAL STYLING */

body {

	background-color: #fef8e1;
}

h1, h2, h3, h4, h5, h6 {

}

p {

}

img {

}

h1#headline {
	font-size: 4em;
	text-align: center;
	margin: 3%;
	padding: 1%;
	font-family: 'Satisfy', cursive;
}
/* FORM SEARCH OPTIONS */

form {
	width: 30%;
	margin: 0 5% 0 3%;
	padding: 1%;
	border: 1px solid black;
	border-radius: 5px;
	background-color: #e1f6fe;
	position: relative;
	float: left;
}


label, input {
	/* in order to define widths */
	display: inline-block;
}

label {
	/* positions the label text beside the input */
	width: 25%;
	text-align: right;
	font-size: 3em;
	font-family: 'Covered By Your Grace', cursive, bold;

}

label + input {
    width: 30%;
    /* large margin-right to force the next element to the new-line
       and margin-left to create a gutter between the label and input */
    margin: 0 30% 0 4%;
}

/* only the submit button is matched by this selector,
   but to be sure you could use an id or class for that button */
input + input {
    float: right;

}
​	
.input {


}

.property {
	min-height: 30px;
	min-width: 250px;
	max-height: 50px;
	max-width: 600px;
	border: 1px solid black;
	margin: 0 10px;
	font-size: 2em;
}

#submit-btn {
	font-family: 'Covered By Your Grace', cursive, bold;
	font-size: 1.5em;
	border-radius: 5px;
	border-style: solid gray;
	background-color: #cae76a;
	margin: 3% 1% 1% 0;
}


/* RESULTS */

.templates  {
	display: none;
}

.results h2 {
	position: relative;
	text-align: center;
	font-size: 3em;
	font-family: 'Covered By Your Grace', cursive, bold;
	background-color: #cae76a;

}

.results {
	position: relative;
	float: right;
	padding: 1% 2%;
	font-size: 1em;
	font-family: 'Lora', serif;
	text-align: left;
	background-color: #cae76a;
	border: 2px solid black;
	border-radius: 5px;
	width: 50%;
	margin: 0 5% 0 0;
}
 

